{
  "extends": "eslint:recommended",
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-undef": 2,
    "no-unused-vars": 2,
    "quotes": [1, "single"],
    "strict": [1, "never"],
    "no-use-before-define": [2, "nofunc"],
    "curly": [1, "multi-line"],
    "eol-last": 0,
    "no-underscore-dangle": 0,
    "no-extra-bind": 1,
    "brace-style": [1, "1tbs", { "allowSingleLine": true }],
    "camelcase": [1, {"properties": "always"}],
    "func-style": [1, "declaration"],
    "indent": [1, 4],
    "space-before-function-paren": [1, "always"],
    "space-in-parens": [1, "never"],
    "space-infix-ops": [1, {"int32Hint": false}],
    "constructor-super": 2,
    "no-this-before-super": 2,
    "no-var": 2,
    "object-shorthand": [1, "always"],
    "prefer-const": 1,
  }
}